:root {
    --img-dim: 300px;
    --li-margin: 20px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

@font-face {
    font-family: 'Frontage Outline';
    src: url('Frontage-Outline.otf');
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    font-family: "Muli", sans-serif;
    color: #4f4a48;
    font-weight: 200;
}

#menu {
    position: fixed;
    width: 700px;
    text-align: center;
    left: 50%;
    margin-left: -350px;
    top: 20px;
    color: #fff;
    fot-family: 'Pacifico';
    fnt-size: 20px;
      font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 5px;
}

#menu li {
    display: inline-block;
    padding: 15px 20px 15px 20px;
    margin: 0px 10px 0px 10px;
    txt-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#home {
    position: relative;
    background-image: url("photos/honeyjackcupcakes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #6b5b56;
    background-attachment: fixed;
    width: 100vw;
    height: 200vh;
    z-index: -3000;
    top: 0;
}
#home-overlay {
    position: absolute;
    backgroud-color: rgba(107, 91, 86, 0.5);
    backgroud-color: #946363;
    background-color: #6E4C4C;
    opacity: 0.5;
    width: 100vw;
    height: 200vh;
}

#header {
    position: absolute;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    font-family: 'Frontage Outline';
    font-size: 100px;
    text-align: center;
    top: 35vh;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    overflow: visible;
}

#about-me {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 3000;
    top: 100vh;
    font-weight: 400;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
#bio {
    position: relative;
    font-family: "Muli";
    font-weight: 200;
    font-size: 14px;
    position: relative;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 15vh;
    text-align: center;
    background-olor: white;
    color: white;
    padding: 0px;
    
}
#bio .title {
    position: relative;
    font-family: 'Pacifico';
    font-size: 50px;
    padding: 0;
    tp: -40px;
    margin: 0px 0px 0px 0px;
        txt-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);

}
#bio .img-container {
    width: 300px;
    height: 300px;
    left: 50%;
    margin-bottom: 10px;
    margin-left: -150px;
    overflow: hidden;
    position: relative;
    border-radius: 150px;
}
#bio img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 300px;
}
.lne {
     position: relative;
    width: 250px;
    left: 50%;
    margin-left: -125px;
    background-color: white;
    height: 3px;
    margin-bottom: 12px;
    text-shadow: 0px;
}

#gallery {
    position: relative;
    width: 940px;
    overflow: auto;
    left: 50%;
    margin-left: -470px;
    margin-top: 80px;
    margin-bottom: 60px;
}

#gallery ul {
    list-style: none;
    padding: 0;
    margin-bottom: 80px;
    padding-bottom: 80px;
}

#gallery li {
    width: var(--img-dim);
    height: var(--img-dim);
    float: left;
    padding: 0px;
    margin-bottom: var(--li-margin);
    cursor: pointer;
}

#gallery li:nth-child(3n) {
    margin-left: var(--li-margin);
}

#gallery li:nth-child(3n + 1) {
    margin-right: var(--li-margin);
}

#gallery img {
    -webkit-filter: blur(0px);
    /* Safari */
    filter: blur(0px);
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* Default to use before jQuery adjusts */
    max-height: var(--img-dim);
    width: auto;
}

#gallery .img-container {
    width: auto;
    height: var(--img-dim);
    overflow: hidden;
    position: relative;
}

#gallery img:hover {
    opacity: 1;
}

#overlay {
    display: none;
    position: fixed;
background-color: rgba(110, 76, 76, 0.2);    width: 100vw;
    height: 100vh;
    z-index: 300;
    top: 0;
}

.wrapper {
    position: relative;
    left: 50%;
    margin-top: 40px;
    margin-left: -250px;
    background-color: #fff;
    width: 500px;
    height: 600px;
    box-shdow: 0px 0px 1000px
}

.wrapper h2 {
    font-size: 14px;
    font-weight: 700;
    padding: 14px 20px 0px 20px;
}

.wrapper p {
    margin-top: -15x;
    padding: 2px 20px 10px 20px;
    font-size: 14px;
}

.close {
    width: 100%;
    margin-left: -25px;
    position: absolute;
    text-align: right;
    padding: 15px 0px 0px 0px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.exp-img-container {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 500px;
}

.exp-img-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#gallery .title {
    font-family: 'Pacifico';
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #fff;
    position: relative;
    top: -293px;
    margin-left: 7px;
    text-align: center;
    width: calc(var(--img-dim) - 20px);
    height: calc(var(--img-dim) - 20px);
    border: 3px solid rgba(255, 255, 255, 0);
    z-index: 100;
}

#gallery .title span {
    padding: 10px;
    height: calc(var(--img-dim) - 40px);
    width: calc(var(--img-dim) - 40px);
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0px 0px 2px black;
    opacity: 0;
}

.description {
    display: none;
}