:root {
    --font-color: #45423F;
    --font-color-2: rgba(69, 66, 63, 0.8);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

@font-face {
    font-family: 'frontage_outlineoutline';
    src: url('frontage-outline-webfont.woff2') format('woff2'), url('frontage-outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    font-family: "Muli", sans-serif;
    color: var(--font-color);
    font-weight: 400;
}

h2 {
    font-family: 'Petit Formal Script';
    text-transform: lowercase;
}


/* MENU */

#menu {
    position: fixed;
    width: 100vw;
    text-align: center;
    top: 0px;
    color: #fff;
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    z-index: 100;
}

#menu ul {
    padding: 10px 0px 12px 0px;
}

#menu li {
    display: inline-block;
    padding: 5px;
    margin: 10px 30px 10px 30px;
    cursor: pointer;
}

#menu img {
    width: 27px;
    position: absolute;
    margin-top: -4px;
}

#logo {
    width: 60px;
}


/* HOME */

#home {
    position: relative;
    background-image: url("photos/honeyjackcupcakes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -3000;
    top: 0;
}

#home-overlay {
    position: relative;
    /* backgrond-color: #9E5757; */
    /* hex: #754F4F */
    background-color: rgba(117, 79, 79, 0.5);
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}

#header {
    font-family: 'Frontage-Outline';
    font-size: 120px;
    font-size: 11vw;
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}


/* ABOUT ME */

#about-me {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: table-cell;
    vertical-align: middle;
}

#bio {
    position: relative;
    font-family: "Muli";
    font-size: 14px;
    position: relative;
    width: 100vw;
    height: 500px;
    background-color: rgba(255, 255, 255, 1);
    tp: 15vh;
}

#bio .container {
    padding: 50px;
    width: 850px;
    position: relative;
    left: 50%;
    margin-left: -475px;
}

#bio .desc-container {
    width: 400px;
    height: 400px;
    padding-top: 20px;
    float: right;
    color: var(--font-color-2);
}

#bio h2 {
    margin-top: 0px;
    font-size: 40px;
    text-transform: lowercase;
    color: var(--font-color);
}

#bio p {
    margin-top: 10px;
    line-height: 22px;
    margin-left: 0px;
    letter-spacing: 0.3px;
}

#bio .img-container {
    float: left;
    width: 400px;
    height: 400px;
    margin-right: 50px;
    overflow: hidden;
    position: relative;
    border-radius: 0px;
}

#bio img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    object-fit: cover;
}


/* GALLERY */

#gallery {
    position: relative;
    width: 100vw;
    background-color: #6E4C4C;
    background-color: rgba(117, 79, 79, 0.1);
    padding-top: 130px;
    padding-bottom: 100px;
}

#gallery ul {
    position: relative;
    height: auto;
    width: 980px;
    left: 50%;
    margin-left: -490px;
    list-style: none;
    padding: 1px 0px 0px 0px;
    overflow: auto;
}

#gallery li {
    width: 300px;
    height: 390px;
    float: left;
    background-color: rgba(255, 255, 255, .4);
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

#gallery li:nth-child(3n + 1) {
    margin-right: 30px;
    margin-left: 10px;
}

#gallery li:nth-child(3n + 0) {
    margin-left: 30px;
}

#gallery .img-container {
    overflow: hidden;
    width: 300px;
    height: 200px;
    display: inline-block;
    object-fit: cover;
}

#gallery img {
    width: 300px;
    cursor: pointer;
}

#gallery h2 {
    font-size: 20px;
    margin-bottom: 19px;
    margin-left: 2px;
    line-height: 24px;
    color: var(--font-color);
}

#gallery .desc {
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 12px;
    padding: 20px 20px 0px 20px;
    line-height: 17px;
    text-align: left;
    color: var(--font-color-2);
}


/* OVERLAY FOR GALLERY EXPAND */

#overlay {
    display: none;
    position: fixed;
    background-color: rgba(110, 76, 76, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 300;
    top: 0;
    text-align: center;
}

#overlay .img-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#overlay img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 80vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.close {
    width: 100%;
    margin-left: -25px;
    position: absolute;
    text-align: right;
    padding: 15px 0px 0px 0px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}


/* FOOTER/CONTACT */

#contact {
    background-image: url("photos/frenchvanillaespressocupcakes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    position: relative;
    height: 180px;
    background-color: black;
}

#contact-overlay {
    background-color: #754F4F;
    opacity: 0.5;
    width: 100vw;
    height: 100%;
}

#footer {
    position: relative;
    top: 0;
    text-align: center;
    font-family: "Petit Formal Script";
    font-size: 12px;
    text-transform: lowercase;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    Transition: .5s;
}

#footer ul {
    margin-top: -147px;
}

#footer li {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 0px 30px 0px 30px;
    background-color: rgba(255, 255, 255, 0);
}

.icon {
    height: 80px;
    width: 80px;
    display: table-cell;
    vertical-align: middle;
}

.icon img {
    height: 100%;
}

#email,
#footer a {
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 3px;
    color: white;
    text-decoration: none;
}

#email {
    padding: 20px;
}


/* CSS FOR FADE ON HOVER */

#footer a,
#menu li,
.close {
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    Transition: .4s;
}

#footer a:hover,
#menu li:hover,
.close:hover {
    opacity: .5;
}